.ModalCreate{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

}


.formCreate {
  display: flex;
  flex-direction: column;
 
}

.formCreate div{
  display: flex;
  flex-direction: column;
 
}

.formCreate label {
  font-size: 1rem;
  margin-bottom: 4px;
}

.formCreate input {
  margin-bottom: 24px;
  padding: 8px;
  outline: none;
  border-radius: 4px;
  border: none;
}

#descricao {
  margin-bottom: 24px;
  outline: none;
  border-radius: 4px;
  padding: 4px;
  border: none;
}

.btnGroup {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.btnForm {
  text-decoration: none;
  color: var(--black);
  font-size: 1.2rem;
  margin: 0 8px;
  width: 45%;
  padding: 8px;
  font-weight: 900;
  border-radius: 20px;
  box-shadow: 4px 4px 2px var(--black);
  border: none;
  cursor: pointer;
 
}

.btnForm:hover {
  animation: btnAnimation 0.8s ease-out alternate infinite;
}

.btnForm:disabled{
  background-color: rgb(141, 141, 141);
}
.create {
  background-color: rgb(0, 255, 106);
}

.back {
  background-color: rgb(255, 55, 138);
}

@keyframes btnAnimation {
  to {
    transform: scale(1.1);
  }
}
