.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 68px;
  margin-bottom: 48px;
  margin-top: 140px;
}
.cardListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

.listFill {
  width: 380px;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  border: none;
}

@media screen and (max-width: 910px) {
  .cardList {
    padding: 0;
  }
  .listFill {
    width: 280px;
  }
  .cardListContainer {
    margin-top: 148px;
  }
}
