.CardList_container {
  margin-bottom: 4px;
  
  
}

.CardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 140px;
  margin-bottom: 48px;
}
