.card {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--black);
  margin: 24px 16px 0;
  width: 320px !important;
  height: 120px;
  box-shadow: 4px 4px 8px var(--black);
  transition: all 0.4s ease;
  cursor: pointer;
}

.cardImg img {
  width: 120px;
  height: 120px;
  border-radius: 8px 0px 0px 8px;
}

.cardContent {
  text-align: center;
}

.cardContent h1 {
  font-size: 1.2rem;
  margin-top: 16px;
}

.cardContent p {
  font-size: 0.8rem;
  margin-top: 4px;
  padding: 0 12px;
}

@media screen and (max-width: 720px) {
  .card {
    margin: 24px 8px 0;
    padding: 0;
  }
}

.cardDisable {
  box-shadow: 0px 0px 7px rgb(255, 44, 178);
}

.cardContentDisable {
  color: gray;
}


.cardImgDisable img {
  filter: grayscale(100%);
}

.cardTag {
  background-color:  rgb(255, 44, 178) !important;
  color: white !important;
  position: absolute;
  font-size: 0.6em;
  border-radius: 8px;
  padding: 6px;
  letter-spacing: 1px;
  font-weight: bolder;
  margin: -10px;
}
