.card {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  background-color: var(--white);
  color: var(--black);
  margin: 24px 16px 0;
  width: 320px !important;
  height: 120px;
  box-shadow: 4px 4px 8px var(--black);
}

.cardImg img {
  width: 120px;
  height: 120px;
  border-radius: 8px 0px 0px 8px;
}

.cardContent {
  text-align: center;
}

.cardContent h1 {
  font-size: 1.2rem;
  margin-top: 16px;
}

.cardContent p {
  font-size: 0.8rem;
  margin-top: 4px;
  padding: 0 12px;
}

@media screen and (max-width: 720px) {
  .card {
    margin: 24px 0px 0;
    padding: 0;
  }
}
