.Navbar {
  background-color: rgba(255, 255, 255, 0.038);
  height: auto;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.navTitle {
  text-decoration: none;
  list-style: none;
  color: rgb(212, 252, 255);
  font-weight: bolder;
  font-size: 2rem;
  animation: textShadowAnimation 5s ease-out infinite alternate;
  margin-top: 16px;
}

@keyframes textShadowAnimation {
  from {
    text-shadow: 0px 0px 5px aqua;
  }
  to {
    text-shadow: 0px 0px 20px aqua;
  }
}

.nav-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 24px 8px;
  width: 100%;
}

.nav-body a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.4rem;
  padding: 8px;
  font-weight: bolder;
  background-color: aqua;
  border-radius: 4px;
  box-shadow: 4px 4px 4px var(--black);

}



.navFind{
  display: flex;
  flex-direction: column;  
}

.navFind label{
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 4px;

}


.navFind input{
  padding: 4px;
  border-radius: 4px;
  width: 300px;
  outline: none;
  border: none;
  font-size: 1rem;
}

@media  screen and (max-width: 720px) {

  .navTitle{
    font-size: 1.8rem;
  }
  .nav-body{
    margin-top: 24px 0;
  }
  .nav-body a{
    font-size: 1rem;
  }
  .navFind input{
    width: 180px
  }
}
