.Navbar {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(245, 245, 245, 0.2);
  backdrop-filter: blur(5px);
  height: auto;
  padding: 36px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.422);
  position: fixed;
  z-index: 999999999;
}

.navTitle {
  text-decoration: none;
  text-align: center;
  list-style: none;
  color: rgba(54, 253, 253, 0.948);
  font-weight: 900;
  font-size: 2.2rem;
  animation: textShadowAnimation 3s ease-in infinite alternate;
}

@keyframes textShadowAnimation {
  from {
    text-shadow: 4px 4px 4px rgb(0, 230, 96);
  }
  to {
    text-shadow: 8px 8px 6px rgb(255, 44, 178);
  }
}

@keyframes btnAnimation {
  to {
    transform: scale(1.1);
  }
}

.nav-body {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

.containerBtnGen {
  display: flex;
  justify-content: space-around;
  width: 180px;
  align-items: center;
}
.btnGen {
  padding: 8px;
  font-weight: 900;
  background-color: rgb(0, 255, 106);
  border-radius: 8px;
  box-shadow: 4px 4px 2px var(--black);
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.4s ease;
  margin: 0 8px;
}

.btnDelete {
  background-color: rgb(255, 44, 44);
  transform: scale(1.2);
  opacity: 1;
}

.btnDelete:hover {
  animation: none !important;
}

.btnActive {
  background-color: rgb(255, 44, 178);
  transform: scale(1.2);
  opacity: 1;
}
.btnActive:hover {
  animation: none !important;
}

.btnGen:hover {
  animation: btnAnimation 0.8s ease-out alternate infinite;
  opacity: 1;
}

.btnGen img {
  width: 20px;
}

.btnGen:disabled {
  background-color: rgb(141, 141, 141);
  animation: none;
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .Navbar {
    padding: 28px 16px;
  }
  .navTitle {
    font-size: 1.2rem;
    width: 160px;
  }
  .containerBtnGen {
    width: 120px;
  }
  .btnGen img {
    width: 16px;
  }
}
